# port sur lequel le serveur SSH doit écouter
Port 4242

# desactivation root: réduit le risque d'accès non autorisé
PermitRootLogin yes

# authentification par clé ssh (plus secure que par mot de passe)
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# désactivation de l'authentification par mdp
# seules les clés SSH seront acceptées.
PasswordAuthentication no